.outerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'timeDisplayContainer intakeDetailsContainer intakeDetailsContainer checkedOrNotContainer';
  background-color: #ada8b6;
  border: 1px solid #ada8b6;
  column-gap: 0.1rem;
  padding: 0.1rem;
  margin: 0.1rem;
  justify-items: stretch;
  align-items: center;
  width: 90%;
  border: 1px solid #ada8b6;
  border-radius: 0.5rem;
}

.timeDisplayContainer {
  grid-area: timeDisplayContainer;
  background-color: #ada8b6;
}

.intakeDetailsContainer {
  grid-area: intakeDetailsContainer;
  background-color: #ada8b6;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

li {
  align-self: flex-start;
  text-align: left;
  padding-bottom: 0.5rem;
}

.checkedOrNotContainer {
  grid-area: checkedOrNotContainer;
  background-color: #ada8b6;
}
